<div id="<%= dom_id property %>">
  <p>
    <strong>Name:</strong>
    <%= property.name %>
  </p>
    <div class="img">
      <% if property.images.attached? %>
      <p>
        <%= display_first_image(property) if has_less_than_three_images?(property) %>
        <%= display_third_image(property) if has_more_than_two_images?(property) %>
      </p>
      <% end %>
      <hr>
    </div>
  

</div>
