<main>

  <h1>Properties</h1>

    <% @properties.each do |property| %>
      <p>
        <%= render property %>
      </p>
       <%= link_to "Show this property", property %>
    <% end %>

</main>

<%= link_to "New property", new_property_path %>
