<h1>New property</h1>

<%= render "form", property: @property %>

<br>

<<div class="row d-flex justify-content-center">
  <div class="col-sm-4">
    <%= link_to "Back to properties", properties_path %>
  </div>
</div>
