@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");

.img {
    width: 150px !important;
    height: 200px !important;
  }

.nav-item:hover{
 /** grey lighten-4**/
 color: #e0e0e0 !important;
 background-color: #f5f5f5;   
}

.img-card{

    width: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: 0.5rem;
    min-height: 235px;

}

.my-8{
    padding-top: 80px;
}


.my-10{
    padding-top: 100px;
}

.my-20{
    padding-top: 200px;
}

.form-switch .form-check-input {
    width: 20em;
    height: 3em;
}

.form-check-input:checked {
    background-color: #424242;
    border-color: #0d6efd;
}